
@{
}
<!--
<div class="container my-5">
    <h2> 
        You Need permission to access this page! contact the support for more information.
    </h2>
</div>
-->
<div class="container my-5">
    <div class="alert alert-danger" role="alert">
        <h2 class="alert-heading">Permission Required</h2>
        <p class="mb-0">Sorry, you need permission to access this page! Please contact support for more information.</p>
    </div>
</div>

